:root {
  --sidebar-width: 150px;
  --search-height: 50px;
  --hover-color: rgba(225, 245, 254, 0.49);
}

body {
  color: #333;
  background-color: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

p {
  margin: 0.5rem 0 1rem;
}

h4 {
  /* use padding to make sure element has some space on top when
   * scrollIntoViewportIfNeede() is called */
  margin-top: 0;
  padding-top: 1.33em;
}

h5 {
  color: gray;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1rem 0 0;
}

code {
  font-family: Consolas, Menlo, monospace;
  color: #9C27B0;
}

#sidebar {
  background: #fff;
  position: absolute;
  width: var(--sidebar-width);
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}

#search {
  background: #3f51b5;
  position: absolute;
  left: var(--sidebar-width);
  right: 0;
  top: 0;
  height: var(--search-height);
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
}

#search .home {
  opacity: 0.5;
  padding: 10px;
}

#search .home:hover {
  opacity: 0.85;
}

#search .home:active {
  opacity: 1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.5);
}

#search input:focus {
  outline: none;
}

#search input {
  -webkit-appearance: none;
  margin: 0 auto;
  background: #3f51b5;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.52);
  padding: 0 0 3px 20px;
  font-size: 20px;
  color: white;
  width: 450px;
}

#sresults {
  display: none;
  background-color: #fff;
  position: absolute;
  left: var(--sidebar-width);
  top: var(--search-height);
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  border-top: 2px solid rgba(51, 51, 51, 0.52);
}

#content {
  background-color: #fafafa;
  position: absolute;
  left: var(--sidebar-width);
  top: var(--search-height);
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}

.boundary {
  border-bottom: solid #B6B6B6 1px;
}

.monospace {
  font-family: Consolas, Menlo, monospace;
}

.box {
  width: calc(98% - 46px);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 16px auto 32px auto;
  padding: 16px 22px 16px 22px;
  background-color: white;
}

.hbox {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.vbox {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.domain {
  padding: 20px 48px 20px 48px;
}

.method-domain {
  color: #ababab;
}

.parameter-list {
  padding: 0.5rem 5px;
  margin-left: 50px;
}

.parameter {
  border-left: 3px solid transparent;
  margin-bottom: 6px;
  align-items: baseline;
}

.parameter:hover {
  border-left: 3px solid hsl(0, 0%, 84%);
}

.parameter-name {
  text-align: right;
  color: black;
  word-wrap: break-word;
  flex: 1 0 0;
  max-width: 250px;
}

.parameter-highlight {
}

.parameter-value {
  margin-left: 20px;
  flex: 1 0 0;
}

.parameter-type {
  font-weight: bold;
}

.parameter-description {
  font-size: 90%;
}

.optional {
  opacity: .9;
}

.optional::after {
  content: "optional";
  opacity: .6;
  font-size: 70%;
  display: block;
}

.title-link {
  margin-left: 1ex;
  display: none;
}

h4:hover .title-link {
  display: inline;
}

span.experimental {
  font-size: 70%;
  text-transform: uppercase;
  background-color: #E57373;
  padding: 2px;
  cursor: help;
  color: white;
  vertical-align: baseline;
  font-weight: normal;
  font-family: inherit;
  margin-left: 1ex;
}

#sidebar .domain-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  min-height: 48px;
  padding: 0 16px;
}

#sidebar .active-link {
  border-right: 5px solid #4bbda8;
}

#sidebar .domain-link:hover {
  background-color: var(--hover-color);
}

#sresults .search-item.selected {
  background-color: #e3f2fd;
}

#sresults .search-item {
  padding: 4px 10px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(51, 51, 51, 0.12);
}

#sresults .search-item:hover {
  background-color: var(--hover-color);
}

#sresults .search-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 20px;
  height: 20px;
  color: white;
  margin: 10px 30px;
  border-radius: 3px;
  cursor: help;
}

.icon-method {
  background-color: orange;
}

.icon-type {
  background-color: blue;
}

.icon-event {
  background-color: green;
}

#sresults .search-item-main {
  flex: 1 1 auto;
  max-width: 1000px;
}

#sresults .search-item-description {
  font-size: 90%;
}

#sresults .search-item-domain {
  flex: 0 1 auto;
  text-align: right;
  color: black;
  word-wrap: break-word;
  max-width: 250px;
  margin: 10px 30px;
}

#sresults .search-item-domain::after {
  content: "domain";
  opacity: .6;
  font-size: 70%;
  display: block;
}

.search-highlight {
  background-color: yellow;
}

.search-results-message {
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
}

.custom-search-result {
  justify-content: center;
  height: 53px;
}
