body {
  color: #333;
  background-color: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  margin: 0.5rem 0 1rem;
}

h5 {
  color: gray;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1rem 0 0;
}

.monospace {
  font-family: Consolas, Menlo, monospace;
}

.box {
  width: calc(98% - 46px);
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 16px auto 32px auto;
  padding: 16px 22px 16px 22px;
  background-color: white;
}

.hbox {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.vbox {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.domain {
  padding: 48px 20px;
}

.method-domain {
  color: #ababab;
}

.parameter-list {
  padding: 0.5rem 5px;
  margin-left: 50px;
}

.parameter {
  border-left: 3px solid transparent;
  margin-bottom: 6px;
  align-items: baseline;
}

.parameter:hover {
  border-left: 3px solid hsl(0, 0%, 84%);
}

.parameter-name {
  text-align: right;
  color: black;
  word-wrap: break-word;
  flex: 1 0 0;
  max-width: 250px;
}

.parameter-highlight {
}

.parameter-value {
  margin-left: 20px;
  flex: 1 0 0;
}

.parameter-type {
  font-weight: bold;
}

.parameter-description {
  font-size: 90%;
}

.optional {
  opacity: .9;
}

.optional:after {
  content: "optional";
  opacity: .6;
  font-size: 70%;
  display: block;
}

span.experimental {
  font-size: 70%;
  text-transform: uppercase;
  background-color: #E57373;
  padding: 2px;
  cursor: help;
  color: white;
  vertical-align: baseline;
  font-weight: normal;
  font-family: inherit;
  margin-left: 1ex;
}
